[2019-04-19 15:40] TBRC-JimK opened #1 "FileSequence shouldnt search subdirectories of imagegroups"
Test case audittool.sh -p TBRCRS3:/ProcessingTBR/DONE/W1KG19402.

It complains about File Sequence..1..3500 not found, but those are in a subfolder of the image group. Need to implement the test for no folders in image groups.

[2019-04-22 14:32] TBRC-JimK commented on #1
Misfiled. See bu[Audit Tool project page](https://github.com/buda-base/asset-manager/projects/2)

[2019-04-22 14:33] #1 closed

[2019-09-13 15:46] TBRC-JimK opened #4 "Pass forceFlag through doia.sh"
`doia.sh` calls `depositIa.sh` `depositIa.sh` has a flag `-f` which allows forcing an upload. Have `doia.sh` process the -f flag and pass that through to `depositIa.sh`

[code]

[2019-09-13 16:03] TBRC-JimK opened #5 "rename doia.sh"
to doIa.sh, so it's like depositIa.sh

[2019-09-19 18:48] TBRC-JimK opened #7 "Have depositIa.sh list auditool results (fails and passes)"

[2019-10-07 16:15] TBRC-JimK opened #9 "BUDA support in sync2archive.sh"
We tried to sync works in the NPL project which did not have entries in eXist. This cause a volume-manifest-tool blort, because it assumes, that, if the work is in BUDA, that BUDA will deliver it an image list. Elie declined to support that functionality somewhat (I guess it's populated as part of an eXist import, but he wont create an API to let mere mortals write this list).

I don't want to hav

[2019-10-08 16:38] TBRC-JimK commented on #9
Resolved in #11

[2019-10-08 16:38] #9 closed

[2019-11-04 18:51] TBRC-JimK opened #12 "IA as a service on Linux"
Design and implement ia as a service on linux.
- Mount the archive drive ro
- mount the processing drive rw
- have the script look for a file on processing/ia/processing/todo/
- Move it to processing/ia/processing/inprocess/
- read it and prefix with archive drive path
- Feed that to parallel
- IF parallel all succeeds (need to tell if parallel returns 0 if all exitvalues 0)
- Move file to done

[2019-11-04 18:53] TBRC-JimK commented on #12
![](https://github.trello.services/images/mini-trello-icon.png) [Build wrapper for Ia](https://trello.com/c/rVo3FNd2/17-build-wrapper-for-ia)

[2019-11-07 20:42] #12 closed

[2019-11-07 21:36] TBRC-JimK commented on #5
Not doing

[2019-11-07 21:36] #5 closed

[2019-11-07 21:39] TBRC-JimK commented on #4
Fixed in 990544

[2019-11-07 21:39] #4 closed

[2019-11-07 22:04] TBRC-JimK commented on #7
Fixed in Mid-Oct

[2019-11-07 22:04] #7 closed

[2019-11-07 22:08] TBRC-JimK opened #15 "Install java 11 on sattva"

[2019-11-07 22:08] TBRC-JimK opened #16 "Find project Maven archetype"

[2019-11-07 22:08] TBRC-JimK opened #17 "BDRCDDDSQSUser identity into dev machines"

[2019-11-12 15:22] TBRC-JimK opened #18 "Capture overall parallel success of ia uploads"
We can't tell if all the uploads in a parallel job failed or succeeded. Parse the parallel log to get:
- Time start
- Exit val
- path which failed
Dump the result to stdout. the service's console output will pick it up from there.

[2019-11-12 18:48] TBRC-JimK opened #19 "Build an SQS Listener"
Project header for a Java app which listens for SQS Messages (sources hardwired at first)

[2019-11-13 20:35] TBRC-JimK commented on #16
#20

[2019-11-13 20:35] #16 closed

[2019-11-14 21:28] TBRC-JimK opened #21 "Only IA process "released" works."
For example W00CHZ0103335 failed to derive because the derive list found no access rights in the meta.xml. Elie advised that was because the work was withdrawn.

[2019-12-10 21:27] TBRC-JimK opened #23 "IA retry"
It would be nice to know which IA uploads failed, and retry them.The follow up workflow is roughly:

- Travis syncs a bunch of works- signals go out to:         
      - volume manifest tool
      - ia upload service on sattva

- These two worthy 'bots do their things
- sometimes IA upload has issues (we'll disregard volume-manifest-tool)

I wrote an awk program, [iaRetry.awk](iaRetry.awk) to retr

[2019-12-20 16:51] TBRC-JimK opened #24 "Define process reporting strategy"
This is a response to
I have an argument against SQL, and an argument for it.

## Against:
SQL fails three important requirements:
- Easy portability
- Robust reporting and analysis
- Lazy people

### Portability: A key requirement is that our monitoring be available from a whole host of platforms:
- Travis, my, and Tim's MacOS machines
- Debian 10 machines running services
- Possible AWS Lambda o

[2019-12-20 17:05] eroux commented on #24
Thanks for the very complete reply! I agree, these tools require work and it's not user facing (or at least not directly), so it will never be prioritized... No emergency, just tell us what the preferred way is and we'll implement it!

[2019-12-20 19:57] TBRC-JimK opened #25 "Build a standalone archive script for IA"
Use the doIa/ depositIa.sh paradigm, just mv the zip file (or create it ab initio) onto bodhi:/usbdrive

[2020-01-03 15:06] TBRC-JimK opened #26 "Archive NetBackup logs"
We don't need every single daily file available on net backup. Create/discuss strategies

[2020-01-14 20:49] TBRC-JimK commented on #17
Are two queues really the right way to handle this? Because if we want to check the code, we need to put it onto an EBS store which can work on it - audittool.sh. We also want to report on the operation state. So there's a workflow here, not necessarily a set of queues.

[2020-01-28 18:17] TBRC-JimK commented on #21
This was taken care of in the work which created an HDD for IA. There's a TBRC.ORG API for getting lists of works per state, one of which is 'withdrawn'
It might be nice to have a test which is "not-released."

[2020-01-28 18:17] #21 closed

[2020-01-28 18:20] TBRC-JimK opened #27 "Split Volume-manifest-tool logs"
Right now, v-m-t tracks both its process state (running, waiting for a name) and it's testing/result state in the same log. This is a problem when v-m-t runs in a service, because the log contains every test ever run.

The service can leave its external state in the service log, but the per-work tests should be saved into per-work log files, as audit tool does.

[2020-01-29 19:47] TBRC-JimK commented on #18
See #28

[2020-01-29 19:47] #18 closed

[2020-01-29 20:12] TBRC-JimK opened #29 "Handle extraneous files coming from DDD"
When we receive folders of works via Amazon S3, they could contain files that were hidden on the OS, but sent up. [man aws sync](https://docs.aws.amazon.com/cli/latest/reference/s3/sync.html) doesnt say you can filter them my file attribute.

This change request is to write the script which fetches from DDD bucket, but contains exclude filters for named files.

[2020-01-31 19:35] TBRC-JimK commented on #25
#28

[2020-01-31 19:35] #25 closed

[2020-01-31 22:11] TBRC-JimK opened #30 "Build project plan"
Review [Sync cloud plan](https://docs.google.com/document/d/1kAsriwprpREhgZ8aMnM_zmlCe0Tu5sNRhjajXmy3QGk/edit#)

[2020-01-31 22:24] TBRC-JimK opened #31 "Audit tool name files."
See [audit tool 55](https://github.com/buda-base/asset-manager/issues/55)

[2020-02-06 03:51] TBRC-JimK commented on #31
Closed with asset manager [pull request #61](https://github.com/buda-base/asset-manager/pull/61)

[2020-02-06 03:51] #31 closed

[2020-02-10 21:56] TBRC-JimK opened #32 "Validate archive against archive-1"
Check RS3:/archive against RS5:Archive-1

[2020-02-11 19:38] TBRC-JimK opened #33 "Handle control characters in filename"
[Trello card More Thumb drives ](https://trello.com/c/kZnCvlo1) descrbies a situation where we zipped up a work to send to IA, but they could not import it because the zip file contained folders and files which had illegal characters in the file name. This also led to `unzip` thinking the files were corrupt.

This is a placeholder for an effort to rename files with control characters for names:

F

[2020-02-13 16:40] TBRC-JimK opened #34 "Port sync2archive to bodhi"

[2020-02-13 17:15] TBRC-JimK opened #35 "Rationalize and source control the eBook maker"
Unfortunately, it's a licensed product, so we can't put in in maven or git

[2020-02-14 02:53] TBRC-Travis commented on #33
Scope of issue is fairly limited so far.  Only 64 works with funkified filenames in the archive dir.  Going to check sources dir as well.  More details in Trello card.

[2020-02-14 03:14] TBRC-JimK commented on #33
Umm, since we zip everything under a work, and since anything can make a
zip break, you’ve got to check everything. Can’t limit by folder. Sorry.
But there’s all weekend (three days) to churn away at it.

On Thu, Feb 13, 2020 at 9:53 PM Travis <notifications@github.com> wrote:

--
Jim Katz
Archival Operations Manager
Buddhist Digital Resource Center
1430 Massachusetts Ave FL 5
Cambridge, MA 02138

[2020-02-14 03:21] TBRC-Travis commented on #33
Yup.  I know.  Was reporting on archive dirs first since that's where the breakage occurred.  Will perform due diligence and execute on other folders as well.

[2020-02-14 18:15] TBRC-Travis commented on #33
The full search for illegal characters in the archive has completed and there were only a few more cases found -- namely weird characters in a few PDFs found in a handful of eBooks folders.  I've already fixed those and I'm ready with a scripted fix for the archive dirs but don't have write permission to RS3 Archive on bodhi.  I'm tried remounting to no avail.  @TBRC-JimK, will need help with this

[2020-02-14 18:17] TBRC-JimK commented on #33
Super, thanks. So sorry, it will have to wait for a while. I’ll set up a
writable mount on bodhi maybe tonight or tomorrow.

On Fri, Feb 14, 2020 at 13:15 Travis <notifications@github.com> wrote:

--
Jim Katz
Archival Operations Manager
Buddhist Digital Resource Center
1430 Massachusetts Ave FL 5
Cambridge, MA 02138
Visit BDRC Web Library <https://www.tbrc.org> | Donate to BDRC
<https://donate.tbr

[2020-02-14 18:31] TBRC-Travis commented on #33
Sounds good.  No rush.  Thanks!

[2020-02-14 22:31] TBRC-JimK commented on #33
Could I ask you to check the code  in to a branch and do a pull request?

On Fri, Feb 14, 2020 at 12:31 Travis <notifications@github.com> wrote:

--
Jim Katz
Archival Operations Manager
Buddhist Digital Resource Center
1430 Massachusetts Ave FL 5
Cambridge, MA 02138
Visit BDRC Web Library <https://www.tbrc.org> | Donate to BDRC
<https://donate.tbrc.org>
jimk@tbrc.org

[2020-02-14 22:43] TBRC-Travis commented on #33
I can check in my code but I'm not familiar with the nuances of branches and pull requests.

[2020-02-18 05:09] TBRC-JimK commented on #33
You can create the branch on the Github  Web UI (our convention is to name
the branch *project name-issue_number, *so the branch would be named
archive-ops-33 . To work in it, you'd go to bodhi, pick a directory to hold
source code (I use ~/dev/*project name , *or ~/dev/archive-ops)

To work in the branch, you'd go to your client,
cd to the directory, and issue:
- git fetch  (to bring the branch d

[2020-02-26 16:28] eroux opened #36 "file on s3 not processing?"
I've uploaded `s3://manifest.bdrc.org/processing/todo/W22084.txt` an hour ago but I can't see any file appearing in `s3://manifest.bdrc.org/processing/inprocess`, I'm wondering how often the server is looking for new files?

[2020-02-26 16:30] eroux commented on #36
ah, it just appeared!

[2020-02-26 16:43] TBRC-JimK commented on #36
The short answer is every two minutes.

[2020-02-26 16:43] #36 closed

[2020-03-02 19:20] TBRC-JimK commented on #32
Done. OK.

[2020-03-02 19:20] #32 closed

[2020-03-02 19:23] TBRC-JimK opened #39 "Pull files from remote source"
This issue stands for a document, and associated scripts which use AWS S3 facilities to a set of files from one location to another.

The script should take a list of individual directory objects as a list, and should exclude the standard crap files (.DS_Store, thumbs.db) from the transfer.

It should also take a user defined list of folders to exclude or include

[2020-03-02 19:26] TBRC-JimK commented on #39
The user defined list of folders comes from the fact that some of our sources publish files we don't need.

[2020-03-03 22:23] TBRC-Travis commented on #33
The offending filenames have been fixed in RS5/Archive.

After removing the control characters from the filenames there were still quite a bit of transforming to do.  I discovered that some of the subdirectories also had bad names, some with a name made up entirely of control characters which I simply renamed to "subdir".  After the rename script finished I also noticed that it left many of the fi

[2020-03-03 22:23] #33 closed

[2020-03-06 20:53] TBRC-JimK commented on #39
Fixed in #40

[2020-03-06 20:53] #39 closed

[2020-03-07 18:00] TBRC-JimK opened #41 "Add flag to upload command"
jake  2:32 PM
@Jim Katz BDRC Could you also add -m mediatype:texts to your upload commands?
From Jake J via slack

[2020-03-09 16:49] #41 closed

[2020-03-19 18:22] TBRC-JimK opened #45 "https://tbrc.org doesnt work"
open case with NetSol to figure it out.

[2020-03-19 19:06] TBRC-JimK commented on #45
https://atlas.networksolutions.com/Ticket/?TicketId=19990386

[2020-03-22 00:07] TBRC-JimK opened #46 "Write scripts to unglacier elements"

[2020-03-22 01:04] TBRC-JimK opened #47 "Restore Cambodia Delivery01 works"
they are  objects in bdrc/Delivery01/BDRC/
W1FEMC030011/ through W1FEMC030093/

[2020-03-22 01:05] TBRC-JimK commented on #47
the bdrc account got granted permissions

[2020-03-22 02:04] TBRC-JimK commented on #47
work in ~/home/UnGlacier/DDD

[2020-03-22 03:18] TBRC-JimK opened #48 "De glacier incoming"
sattva tmux 3. ~/home/UnGlacier/

[2020-03-22 16:22] TBRC-JimK commented on #47
See [AWS Restoring objects](https://docs.aws.amazon.com/AmazonS3/latest/dev/restoring-objects.html)

[2020-04-02 01:47] TBRC-JimK opened #49 "Dont fail sanity check just because some counts have failed."
See syncWebAndArchive.sh - it fails the whole sanity check because some uploads have failed. It should allow the works in the success list to pass through. See #34

[2020-04-03 20:23] TBRC-JimK commented on #49
#081cf42

[2020-04-03 20:26] TBRC-JimK commented on #47
Done

[2020-04-03 20:29] #34 closed

[2020-04-06 16:37] TBRC-JimK commented on #47
Done

[2020-04-06 16:37] #47 closed

[2020-04-06 16:38] TBRC-JimK commented on #49
Closed in #44

[2020-04-06 16:38] #49 closed

[2020-04-10 23:31] TBRC-Travis opened #50 "syncAnywhere - issues with readlink and mktemp commands"
Running bdrcSync.sh on Mac gives the following error output:

readlink: illegal option -- f
usage: readlink [-n] [file ...]

And

usage: mktemp [-d] [-q] [-t prefix] [-u] template ...
       mktemp [-d] [-q] [-u] -t prefix
syncOneWork.sh: line 80: $tmpf: ambiguous redirect

[2020-04-10 23:38] TBRC-JimK commented on #50
Plese provide output of
which readlink
which mktemp

They should be
[code]

Since we require GNU coreutils.

Remember from
[code]

[2020-04-10 23:49] TBRC-Travis commented on #50
Ahhhh right.

This is my current situation:
[code]

And this is el problemo...I'll fix this.  Thanks.

[2020-04-11 13:23] TBRC-Travis opened #51 "Work lists getting stuck in manifest.bdrc.org/processing/todo"
Work lists sometimes get stuck in "todo", usually because the manifest process isn't running.  Can we put some monitoring in place to alert us to when things are getting held up, or somehow alert us when the service is down?  It would be helpful to get some sort of warning email or other notification that the service is down rather than having to manually check on things.

[2020-04-11 13:50] TBRC-JimK commented on #51
C’est un gateau. Wire up the service’s start and  command to send and SNS notice out to the AWS SNS channel.  However, that means I’m going to be forwarding to you every Archival ops AWS SNS notice. Are you prepared for that?
Also, if the service has been down for days, will you retain that mail?

Here’s a short script to remotely check  a service status - it’s a little too trivial to put into the

[2020-04-11 13:57] TBRC-Travis commented on #51
In this case what might be more helpful is getting an email after a certain amount of time (TBD) that a worklist is stuck in todo and to report the status of the manifest service in that email notification.

[2020-04-11 13:58] TBRC-JimK commented on #51
So you’re proposing a service to monitor all other services.

On Sat, Apr 11, 2020 at 9:57 AM Travis <notifications@github.com> wrote:

--
Jim Katz
Archival Operations Manager
Buddhist Digital Resource Center
1430 Massachusetts Ave FL 5
Cambridge, MA 02138
Visit BDRC Web Library <https://www.tbrc.org> | Donate to BDRC
<https://donate.tbrc.org>
jimk@tbrc.org

[2020-04-11 14:07] TBRC-Travis commented on #51
Perhaps we can give this time to percolate and discuss next week rather than trying to hash this out comment by comment.

[2020-04-11 14:38] TBRC-JimK commented on #51
I’m just blueskying here while I’m thinking about it. Immediate responses
not required.

A service can take arguments in a profile, so we can have a ao-monitor
service which takes three arguments:
- service:resource tuples
- threshold. (polling interval)
- alarm limit (how often to send out)
- message queue

As usual, we don’t put the SNS queue name in Github

On Sat, Apr 11, 2020 at 10:07 AM Trav

[2020-04-13 18:10] TBRC-JimK commented on #48
Done

[2020-04-13 18:10] #48 closed

[2020-04-13 18:11] TBRC-JimK opened #52 "Re-compress too large files in Cambodia"
delivery01 (11-93) and delivery02
Put the scripts into Github

[2020-04-13 19:25] TBRC-Travis opened #53 "Create script to check image status on BUDA"
From Jim:

[code]

_One caveat - it's on the dev system, which is sync'd intermittently from the prod system (This doesn't . Élie said he'd ask Chris to have the prod - dev feed updated daily, I don't know if that's happened, but it looks like it has_

[2020-04-13 19:26] TBRC-Travis commented on #53
Use public module interface to grab list of image groups from a RID:

https://www.tbrc.org/public?module=work&query=work-igs&args=<RID>

[2020-04-13 19:41] xristy commented on #53
Yes the dev system is updated daily now.

[2020-04-14 20:38] #52 closed

[2020-04-14 20:47] TBRC-JimK opened #55 "Reduce output of web sync"
`processWeb` makes curl calls which produce extraneous output. Reduce it to only show either the essential data or the status code.

[2020-04-14 22:37] TBRC-JimK opened #56 "When IA has changed the derive, do this"
I'm putting ia upload input into `export iaUploadProcessingTarget="/mnt/processing/InternetArchive/processing/holdForIa-FEMC`

Put them in todo when done.

[2020-04-15 15:37] TBRC-JimK opened #57 "Filter out restricted works from downstream processing"
Find out how to access TBRC or BUDA API to get restrictions on works, unless we get them from the MARC record already.
Once that's done, use that to divert works from IA processing.

[2020-04-15 15:50] TBRC-Travis commented on #57
The restriction type for each work is already captured in the XML metadata that gets sent to IA.  **We shouldn't be diverting works based on restriction type.**  Rather we should continue doing what we've been doing -- send everything up to IA and let them handle the work accordingly.
 IA is already handling the access field designations as we've specified them.  This how the various access levels

[2020-04-15 15:54] #57 closed

[2020-04-15 20:35] TBRC-pmench commented on #57
Is metadata viewable for restricted materials on IA or is it just in their system but totally hidden from the public? For embargoed materials, we shouldn't have the records be accessible at all, I think.

[2020-04-15 20:51] TBRC-Travis commented on #57
I'd have to do some more extensive searching to verify for sure, but I believe for restricted material it is searchable and the metadata is viewable, but nothing else.  The exception to that is RestrictedInChina material which simply doesn't show up on Internet Archive right now (from what I recall, the reason for this is because they hadn't yet implemented the appropriate geo restrictions).  I pr

[2020-04-20 20:22] TBRC-JimK opened #59 "Remove indexing from Cambodia works"
Program Management would like the Cambodia collection to not be accessible on Internet Archive. There was discussion of "darkening" the works, but Hank from IA advises this is a drastic step that requires their intervention.

The same goal can be met in a less destructive way by setting a flag named `noindex` to `true`         In this way, the work is hidden from search results, while the owners,

[2020-04-20 20:25] TBRC-JimK commented on #59
Note also, that the Cambodia syncing process uses it own shell to sync.  You can see it on `sattva:~service/prod/DDD`
Note that this shell redirects the IA post processing to the `InternetArchive/processing/holdForIA-FEMC/` directory, to prevent IA upload service from finding it (in the `InternetArchive/processing/todo/` directory).

[2020-04-21 17:41] TBRC-JimK opened #61 "side effects in check-BUDA-status.txt"
If the user passes in a worklist in a different directory, check-BUDA-status writes the results in that directory (e.g. `check-BUDA-status.sh inproc/arc-staging-y .` will write the results into inproc.)
[code]
because you use the full path of ${workList}. Run it through `basename` first.

[2020-04-21 17:43] TBRC-JimK opened #62 "check-BUDA-status.sh doesnt work on Debian"
Shebang problems.
shebang line is  `#!/bin/sh`

which only coincidentally resolves to bash on a Mac. So when I ran this on sattva (Debian), it really ran /bin/sh, which doesn't know anything about 'function()`. double brackets or other bash extensions.

[code]

So please going forward use /usr/bin/env bash as the shebang line (note this allows the user to very precisely control which bash they use

[2020-04-21 17:44] TBRC-JimK commented on #62
Whoops. Email still in draft, so here it is shebang line is `#!/bin/sh`
which only coincidentally resolves to bash on a Mac. So when I ran this on sattva (Debian), it really ran /bin/sh, which doesn't know anything about 'function()`. double brackets or other bash extensions.

[code]

So please going forward use /usr/bin/env bash as the shebang line (note this allows the user to very precisely con

[2020-04-21 20:12] TBRC-Travis commented on #61
Fixed.

https://github.com/buda-base/archive-ops/commit/513d974f5abec3fcf4a2950b8fe9941744099b55

[2020-04-21 20:12] #61 closed

[2020-04-21 20:26] TBRC-TimB commented on #59
I used the csv batch metadata upload to get this set up.
https://archive.org/services/docs/api/internetarchive/cli.html#modifying-metadata-in-bulk

ia metadata --spreadsheet=cleanNoIndex.csv

Looks like none of them are showing up in searches, either in the terminal or on the site,
so the whole update was a success.

[2020-04-22 17:18] TBRC-JimK commented on #59
Damn, that's as simple as simple can be. Thanks

[2020-04-22 17:18] #59 closed

[2020-04-23 00:43] TBRC-Travis commented on #62
Fixed.

https://github.com/buda-base/archive-ops/commit/01671dde3cff1b3906b89753df101eec9da10387

[2020-04-23 00:43] #62 closed

[2020-04-23 00:45] TBRC-Travis commented on #53
https://github.com/buda-base/archive-ops/blob/master/scripts/QA/check-BUDA-image-status.sh

[2020-04-23 00:45] #53 closed

[2020-04-23 00:50] TBRC-Travis opened #65 "Create script to update status of USAID works in RFP Master spreadsheet"
After a USAID work is synced, automatically update its status to "Archived and Online" in RFP Master spreadsheet

[2020-04-23 16:52] TBRC-JimK commented on #56
There are other issues. Don't upload these works.

[2020-04-23 16:52] #56 closed

[2020-04-23 16:54] #50 closed

[2020-04-23 16:54] #55 closed

[2020-04-23 16:56] TBRC-JimK commented on #65
There is a Google app scripting language

[2020-04-23 19:32] TBRC-JimK opened #66 "DNS plan"

[2020-04-23 19:50] TBRC-JimK commented on #66
Justification:  Unifi DNS is known to not support static DNS well at all. When USG DHCP clients get their lease, the DHCP server gives them their DNS resolvers. In this example, 10.0.1.1, 10.0.2.1, and the external Comcast DNS servers
<img width="830" alt="Screen Shot 2020-04-23 at 15 45 07" src="https://user-images.githubusercontent.com/33470789/80142636-865cff00-8579-11ea-81f8-abb51f1de0ba.png">

[2020-04-23 19:50] TBRC-JimK commented on #66
![](https://github.trello.services/images/mini-trello-icon.png) [DNS in BDRC](https://trello.com/c/lNWou8x1/176-dns-in-bdrc)

[2020-04-28 21:44] TBRC-Travis opened #67 "Update syncAnywhere documentation for setup of existDB credentials"
Testing bdrcSync.sh uncovered an issue with existDB credentials:

/usr/local/bin/processWeb.sh: line 17: EXIST_CREDS:  TBRC Web Services credentials missing. Cannot continue.

I think the readME "environment" documentation needs to be updated to tell users that they need to configure exist DB credentials for the "archive sync" user

[2020-04-28 22:43] #67 closed

[2020-04-30 19:40] TBRC-Travis opened #68 "Invalid date command argument in syncAnywhere script"
Executing bdrcSync.sh [line 168](https://github.com/buda-base/archive-ops/blob/master/scripts/processing/syncAnywhere/bdrcSync.sh#L168) on macOSX results in illegal argument using date command:

[code]

[2020-04-30 19:41] TBRC-JimK commented on #68
Please provide $(which date)

On Thu, Apr 30, 2020 at 15:40 Travis <notifications@github.com> wrote:

--
Jim Katz
Archival Operations Manager
Buddhist Digital Resource Center
1430 Massachusetts Ave FL 5
Cambridge, MA 02138
Visit BDRC Web Library <https://www.tbrc.org> | Donate to BDRC
<https://donate.tbrc.org>
jimk@tbrc.org

[2020-04-30 19:54] TBRC-Travis opened #69 "Curl reports error in syncAnywhere scripting"
processWeb.sh reports error executing [line 64](https://github.com/buda-base/archive-ops/blob/master/scripts/processing/syncAnywhere/processWeb.sh#L64):

0curl: (7) Couldn't connect to server

[2020-04-30 20:15] TBRC-JimK commented on #69
Could you please attach a log.  processWeb.sh dumps out the curl command with it parameters filled in.

[code]

[2020-04-30 20:16] TBRC-Travis opened #70 "Better sanity check logging in syncAnywhere scripting"
bdrcSync.sh logs sanity checking using a temp form in [line 124](https://github.com/buda-base/archive-ops/blob/master/scripts/processing/syncAnywhere/bdrcSync.sh#L124) that makes a bit of mess.

Would suggest two changes:

1) making a separate directory for these logs
2) changing from a temp name to making a more readable log filename ie ("sanity-check-<RID>.log")

[2020-04-30 20:26] TBRC-Travis commented on #69
Hmmm.  This is the only output I get.  I suppose I'll need to set the SYNC_DEBUG flag?

[code]

[2020-04-30 20:33] TBRC-JimK commented on #69
ah yes, that's the part I forgot to mention - just trying it over here. I also suspect you might have an older version of processWeb, since I fixed it to not show that html.  My (no debug output) shows

[code]

[2020-04-30 20:34] TBRC-Travis opened #71 "syncAnywhere breaks cataloging entry for synced works on website"
syncAnywhere scripting is causing the cataloging record for synced works to disappear from the website.  For example, I just tried to syncc W8LS42203 and now it shows like this:

<img width="804" alt="breakage" src="https://user-images.githubusercontent.com/19354126/80756381-6476f580-8b00-11ea-9187-3a6f06fb8b89.png">

[2020-04-30 20:42] TBRC-Travis commented on #69
Blarg.  You are correct.  I had an outdated version of processWeb.  This issue went away with the latest update.

[2020-04-30 20:42] #69 closed

[2020-04-30 21:28] TBRC-JimK commented on #71
I ran `processWeb.sh` on my site, but sent the output to a dump s3. Then W8LS42203 appeared where it should have been.
Travis is sending a couple of other works to try.

- also, download the works from my dump and from `s3://archive.tbrc.org` and compare them.

[2020-04-30 21:42] TBRC-JimK opened #72 "syncAnywhere. Remove undesirable files from all transfers"
The Archive sync process should exclude file browser artifacts such as .DS_Store and Thumbs.db from each transfer:
- aws s3 sync
- rsync.

For example, W8LS422813 on works.tbrc.org/Works/b9/W8LS42203/images..../ has a .DS_Store in it.

[2020-04-30 21:44] TBRC-JimK commented on #72
[code]

[2020-04-30 22:43] TBRC-Travis commented on #71
RS5:Staff/Jim/SyncTest

[2020-04-30 22:46] TBRC-Travis commented on #68
Switched date command to GNU version

[2020-04-30 22:46] #68 closed

[2020-05-04 22:20] TBRC-JimK commented on #71
Could not reproduce with W1KG13833
<img width="804" alt="Screen Shot 2020-05-04 at 18 01 43" src="https://user-images.githubusercontent.com/33470789/81018116-dbc6c500-8e31-11ea-9c89-56da43daa72c.png">

Could not reproduce with W8LS42182
<img width="881" alt="Screen Shot 2020-05-04 at 18 14 37" src="https://user-images.githubusercontent.com/33470789/81018935-87bce000-8e33-11ea-9025-d23c2d3c10dc.png

[2020-05-06 16:41] TBRC-JimK commented on #70
You can specify a temp directory in [line 21](https://github.com/buda-base/archive-ops/blob/99ece01437995d99c5867cdcd2fb0ea39cadc6ef/scripts/processing/syncAnywhere/bdrcSync.sh#L21). There's a default value.
It doesn't help to make too many directories, and the random suffixes are required for bdrc Sync to run in parallel.
The sanity check log' path is dumped to the console, so it can be copied an

[2020-05-06 17:02] TBRC-JimK commented on #70
I'm testing a change to file names now. Should be a fix in today.

[2020-05-06 17:17] TBRC-Travis commented on #70
Great, thanks!

[2020-05-07 13:51] TBRC-JimK opened #73 "Inventory data studio. On largest projects, report only on current data (counts for last-obs-date >= today-1)"

[2020-05-11 15:32] TBRC-Travis opened #74 "Archive issue discovered during thumbnail generation -- space in file names (sometimes even a slash)"
- W1KG5256
- W1KG5258
- W1KG5259
- W20202
- W20575

[2020-05-11 15:33] TBRC-Travis opened #75 "Archive issue discovered during thumbnail generation -- cannot find an image of less than 1MB in the first 20 images"
- W8LS66751
- W17789
- W1KG12717
- W1FPL634
- W1FPL641
- W23746
- W1KG12716
- W1FPL647
- W00KG04002
- W2DB16431
- W00KG04068
- W1CZ2514
- W1KG12427
- W1FPL639
- W1KG5109
- W1FPL643
- W1AC16
- W00KG03991
- W5JW13
- W1KG18416
- W20817
- W20817
- W00KG03995
- W1KG16727
- W1KG3960
- W29621
- W1KG13825
- W1FPL633
- W1KG5724
- W1KG9250
- W23910
- W1FPL1738
- W1FPL642
- W27558
- W00KG04000
- W10919
- W22

[2020-05-11 15:37] TBRC-Travis opened #76 "Archive issue discovered during thumbnail generation -- many works with no json file on s3"
[json-missing.txt](https://github.com/buda-base/archive-ops/files/4610568/json-missing.txt)

[2020-05-11 16:08] TBRC-JimK commented on #76
Quick discovery `cat errors-list.txt | parallel 'aws s3 ls s3://archive.tbrc.org/Works/$(printf {} | $SYS_MD5 | cut -c1,2)/{}/images/' | tee -a found-works.lst` on a 24 core server machine.

[2020-05-11 16:28] TBRC-JimK commented on #76
1617 works found with images.
[found-works.txt](https://github.com/buda-base/archive-ops/files/4610830/found-works.txt)

[2020-05-11 16:30] TBRC-JimK commented on #76
Sent to manifest process.

[2020-05-12 13:36] TBRC-JimK commented on #76
96 works, where at least one image group not uploaded. Total 8486 un-uploaded image groups.
[vmt-warning-works.txt](https://github.com/buda-base/archive-ops/files/4615913/vmt-warnin-works.txt)

[2020-05-12 13:38] TBRC-JimK commented on #76
Would be good to integrate the thumbnail generation process into the post-pub process.  Perhaps as part of voume-manifest-tool? Discuss with @eroux

[2020-05-14 15:30] TBRC-JimK opened #79 "Create a way to batch update the status of works in the RFP Master file"
As a Digital Archive Engineer, I batch process many works at once. The USAID project requires that the status of works be updated  in a Google sheet named "RFP Master". The works I update are not contiguous - they are randomly scattered throughout the spreadsheet's pages.
I need a way to update these entries by running one script.

The script is not required to be run unattended, because it requir

[2020-05-22 15:24] TBRC-Travis opened #81 "Need permission to run Update RFP script"
When trying to run the Update RFP script I get an authorization error:

<img width="444" alt="Screen Shot 2020-05-22 at 10 54 22 AM" src="https://user-images.githubusercontent.com/19354126/82683252-b6ea9400-9c1e-11ea-991d-9356476fe6e3.png">

Related to pull request https://github.com/buda-base/archive-ops/pull/80

[2020-05-22 15:32] TBRC-Travis commented on #81
Doi.  Just hit continue and I simply had to log in with my gmail credentials.  All good now.

[2020-05-22 15:32] #81 closed

[2020-05-22 17:54] TBRC-Travis opened #82 "Add sheet exclusion list for Update RFP (update-usaid-rfp) script"
Currently the Update RFP script will result in pop up warnings if a sheet from the target spreadsheet is missing the specified column headings.  For example:

<img width="738" alt="2" src="https://user-images.githubusercontent.com/19354126/82695529-49952e00-9c33-11ea-8871-3190cc4ce98a.png">

Suggested enhancement would be to specify a list of sheets you want to exclude in the Update RFP input shee

[2020-05-22 18:08] TBRC-Travis opened #83 "Could update-usaid-rfp/UpdateSheet.js be called from the command line?"
Potential future enhancement:  calling update-usaid-rfp/UpdateSheet.js from a larger shell script that takes in 2 arguments:

1) a CSV files of the RIDs and statuses to be updated
2) the target spreadsheet ID

This would further automate the sheet updating process.

[2020-05-22 19:02] TBRC-JimK commented on #83
No

On Fri, May 22, 2020 at 14:08 Travis <notifications@github.com> wrote:

--
Jim Katz
Archival Operations Manager
Buddhist Digital Resource Center
1430 Massachusetts Ave FL 5
Cambridge, MA 02138
Visit BDRC Web Library <https://www.tbrc.org> | Donate to BDRC
<https://donate.tbrc.org>
jimk@tbrc.org

[2020-05-22 19:04] TBRC-Travis commented on #83
Ok then.  I guess that solves that problem.  :)

[2020-05-22 20:12] TBRC-Travis commented on #75
@eroux there are quite a few works you reported that don't have any images larger than our 400k size restriction:

W1AC16
W1FPL1738
W1KG12427
W1KG14350
W1KG16727
W1KG16728
W1KG18416
W1KG18421
W1KG18423
W1KG25001
W1KG25128
W1KG5966
W1KG9250
W1PD177857
W20817
W2DB4589
W2DB16431
W3CN21845
W3CN4061
W8LS32733
W8LS66751

Not sure why these were flagged during your thumbnail generation process.  Can you

[2020-05-22 21:50] TBRC-JimK commented on #83
It would require installing a javascript shell execution engine, or node., or a lot of hard stuff. This API is only available in JS. Believe me, this is for your own good!  P.S. I tweaked up the doc.
Could you please close?

[2020-05-22 21:58] #83 closed

[2020-05-22 21:58] TBRC-Travis commented on #83
Fair enough!  The current version is plenty good fo now.  Thanks.

[2020-05-25 07:27] eroux commented on #75
Right, thanks for noticing! I indeed mixed two cases, one that you solved, and the one you spotted is a case where we have a released image group with a directory in our archive (with a `dimensions.json` file), but with no images or only the scan request images. The semantics of that case are quite unclear to me... does it mean the images are not synced yet? @karmagongde can you tell me more about

[2020-05-26 16:23] karmagongde commented on #75
@eroux The folder with only the scan request images should not be moved for the processing. If these cases are mostly happened by the librarians. Any missing volume has remarked a note in the catalog records for the uses to know.
If it is possible to check the Archive and get a list of the folder with only the scan request image then we should remove them @TBRC-Travis . I will add a note in catalo

[2020-05-26 16:31] TBRC-Travis commented on #75
Correct @karmagongde.  When I sync new works these "empty" image group folders with only scan request files are being deleted.  The list documented here is older works in the archive.  I will cleanup the directories in the above list to make sure these folders are deleted from the web images folder.

[2020-05-26 16:37] eroux commented on #75
ah excellent, thanks! I think you can spot them easily by looking at folders with less than 3 images

[2020-05-26 16:41] TBRC-Travis commented on #75
Precisely.  :)

[2020-05-26 16:42] karmagongde commented on #75
Thank you Travis for taking care of these empty folders. Please let me know, any notes need to be added in the catalog record.

[2020-05-26 16:43] TBRC-Travis commented on #75
@karmagongde will do!

[2020-05-26 17:18] TBRC-Travis commented on #75
@karmagongde Here is the list of "empty" image group directories that only contain scan request files with no real images.  Please make sure the biblio note is updated for these works to reflect the missing volumes.

[empty-ig_dirs.txt](https://github.com/buda-base/archive-ops/files/4683868/empty-ig_dirs.txt)

[2020-05-26 18:25] TBRC-Travis commented on #75
@eroux @xristy I've removed the image group dirs found in "empty-ig_dirs.txt" (see above comment).  If someone tries to access these on the website they will get an error now.  We'll need to somehow update exist db to remove these entries since there are still "ghost" View in Reader links displayed on the website.  I don't think I can update the entries using exist/rest/db/modules/admin/imagegroup

[2020-05-26 19:53] karmagongde commented on #75
@TBRC-Travis Hi Travis,
I added the missing volume's note on catalog records. Many of them are Journal.
Could you please keep W8LS32733-I8LS33439. It is a part of USAID images and looks like, images folder mistakenly moved to another folder. The folder name could be "ADA0015".

[2020-05-26 19:55] #79 closed

[2020-05-26 19:55] #82 closed

[2020-05-27 13:28] TBRC-Travis commented on #75
@karmagongde I've restored W8LS32733-I8LS33439 as you've requested, though I don't see the images.  Please keep me updated if you find them.

[2020-05-29 22:38] karmagongde commented on #75
@TBRC-Travis Hi Travis,
I got the images of W8LS32733-I8LS33439. My "A Better Finder Rename 9" is old and not working. Please rename the images to I8LS33439. I uploaded the folder on ReadyToProcess/USAID-2019. Thank you.

[2020-06-01 16:03] TBRC-Travis commented on #75
@karmagongde Thanks Karma.  I see them now.  I'll take care of renaming them.

[2020-06-05 11:57] TBRC-JimK opened #84 "W3CN1610"
Elie requested
Could you please tell Travis that W3CN1610 was requested by one of our
partners? It's already cropped and under 400kb so if could be an easy
sync...

[2020-06-05 13:25] TBRC-Travis commented on #84
Thanks @eroux
I'll be sending this out with tonight's sync.

[2020-06-05 13:30] eroux commented on #84
great, thanks a lot!

[2020-06-05 15:38] TBRC-JimK opened #85 "Catalina preparation"
Get DLMS ready for Catalina prep

- [x] Java install preparations

- [x] DLMS Preparation and repackaging

[2020-06-05 18:06] TBRC-JimK commented on #85
Travis had already fixed up the Java install. See `RS5/Staff/Software/javaforosx2017-001-UpdatedForNewOSXVersions-03.27.2020.pkg` See [Trello Java 1.6 on Catalina](https://trello.com/c/ofktzEZG) for the details of the hack.

[2020-06-05 23:21] TBRC-Travis commented on #84
@eroux This is now synced and up on our websites:
https://www.tbrc.org/#!rid=W3CN1610
http://library.bdrc.io/show/bdr:W3CN1610

[2020-06-05 23:21] #84 closed

[2020-06-06 04:53] eroux commented on #84
thanks!

[2020-06-08 15:58] TBRC-JimK commented on #85
Updated RS5:/Staff/Software/DLMS-Editor-Installation-Mac.rtfd.

[2020-06-08 15:59] TBRC-JimK commented on #85
Staff discussion leads us to approve Catalina support for DLMS.

[2020-06-08 15:59] #85 closed

[2020-06-08 16:24] TBRC-JimK opened #86 "BUDA IO emails"
Figure out how to have GSuite support bdrc.io emails

[2020-06-08 16:32] TBRC-JimK commented on #86
GSuite allows [two ways to have multiple domains](https://apps.google.com/u/1/supportwidget/helphome?product_name=New+Admin+Console&product_context=Dashboard&hl=en&article_url&trigger_context&host_url=https://admin.google.com/u/1/?pli%3D1&session_id=CD6A5202-4B64-4DBB-81F1-74B3442E83B9&product_data&managed_customer_id=03tfi9za&origin=https://admin.google.com):

Prerequisites (obvious):
- [ ] You (

[2020-06-09 19:46] TBRC-Travis opened #87 "test"

[2020-06-09 20:06] TBRC-Travis commented on #71
I've confirmed that this is no longer an issue.  syncAnywhere is working beautifully.

[2020-06-09 20:06] #71 closed

[2020-06-11 17:21] TBRC-pmench opened #89 "Check staff@tbrc.org email list to ensure all staff are members"
Karma did not receive calendar invite.

[2020-06-11 17:23] TBRC-pmench opened #90 "Check team access to this repository"

[2020-06-11 17:28] TBRC-JimK commented on #89
Will do Philip. Bringing in @TBRC-Travis

[2020-06-11 17:37] TBRC-JimK opened #91 "Find a way to subscribe to project card creation"
Or use slack

[2020-06-11 18:26] TBRC-JimK opened #92 "Document bdrc.io Gmail alias"

[2020-06-11 21:27] Dechen1 opened #93 "This is just a testing"
Testing

[2020-06-12 13:05] TBRC-TimB opened #94 "test card please ignore"
test

[2020-06-12 13:42] TBRC-TimB commented on #91
Request from Travis. Keep slack notifications in their own channel separate from ao-whq

[2020-06-12 14:06] TBRC-JimK commented on #91
Seems fine.

[2020-06-12 14:11] TBRC-JimK commented on #93
Thanks, Dechen, I'm closing.

[2020-06-12 14:11] #93 closed

[2020-06-12 14:12] TBRC-JimK commented on #94
OK, I'm ignoring it. Thanks, and you can close it.

[2020-06-12 15:25] #94 closed

[2020-06-12 15:45] TBRC-JimK commented on #90
Hi @TBRC-pmench , I'm assigning this requesting you close the issue, since I have completed it by creating a team in Github. Adjusting individual assignments will follow.

[2020-06-12 15:55] #90 closed

[2020-06-12 15:58] TBRC-JimK commented on #92
[Trello card Infrastructure - Reference documents this](https://trello.com/c/1wHmdzkx)

[2020-06-12 15:58] #92 closed

[2020-06-12 16:05] TBRC-JimK commented on #91
@TBRC-Timb See [Github slack integrations](https://github.com/integrations/slack)

[2020-06-12 16:12] TBRC-JimK commented on #89
Marc Agate, Nicolas, NT, and Ronn Smith are not in the Staff list. I'll add NT, but these other folks don't need to have access to the archive-ops project.  @TBRC-pmench Request you close.

[2020-06-12 17:04] #89 closed

[2020-06-12 17:11] TBRC-JimK commented on #92
See #86

[2020-06-12 17:11] TBRC-JimK commented on #86
See #92 Closed.

[2020-06-12 17:11] #86 closed

[2020-06-12 18:58] TBRC-TimB commented on #91
@TBRC-JimK it looks like to get the slack bot to be able to read the repos, I need to give it permissions to access the repos. I wanted the all clear before I went and gave it those permissions.

[2020-06-12 20:55] TBRC-TimB opened #95 "testing slack"
testing to see if slack notifications work

[2020-06-12 20:57] TBRC-JimK commented on #95
How very nice. So I'll expect this comment to also pop up in Slack.

[2020-06-12 21:20] TBRC-JimK commented on #95
OK, now with integration I expect this comment to pop up in slack

[2020-06-15 13:19] TBRC-TimB opened #96 "Cropping W1KG28261"
Working on Cropping the large work W1KG28261

[2020-06-15 13:20] TBRC-TimB commented on #96
Currently working through edits/fixes based on feedback from Karma and Travis.

[2020-06-15 14:42] TBRC-TimB commented on #95
tracking spreadsheet for reprocessing.
https://docs.google.com/spreadsheets/d/1Z88k6PvHci8vgSo5-RocWlwHQyMTzX3yf42YcBGnLn4/edit?usp=sharing

[2020-06-15 14:44] TBRC-Travis opened #97 "Mangaram backlog processing & syncing"

[2020-06-15 14:51] TBRC-JimK commented on #72
Just review existing code for completeness

[2020-06-15 14:55] TBRC-TimB commented on #96
tracking spreadsheet for reprocessing.
https://docs.google.com/spreadsheets/d/1Z88k6PvHci8vgSo5-RocWlwHQyMTzX3yf42YcBGnLn4/edit?usp=sharing

[2020-06-15 14:56] jimk-bdrc opened #98 "Update DSM on RS3 and 5"

[2020-06-15 14:56] TBRC-TimB commented on #95
Testing for slack notification.

[2020-06-15 14:56] #95 closed

[2020-06-15 15:24] eroux opened #99 "sync request: W1KG26108"
Hello AO,

Not urgent, but for the next batch of OCR. it would be quite useful to sync the images in `ReadyToProcess/Taiwan/Other-Taiwan-12/W1KG26108`. In our tests they bring a real benefit to the OCR result compared to the other scans we have. It should also be quite straightforward to process as it's already cropped and under 400k.

Thanks in advance

[2020-06-15 15:26] TBRC-pmench opened #100 "Create help@bdrc.io email address and Google Group for managing inquiries from the new library & information websites."

[2020-06-15 17:13] TBRC-TimB commented on #91
Closing foe now. Currently with the basic github Slack plugin, there is no way to get notifications for cards, since the notifications are associated with repositories, rather than with project boards.

[2020-06-15 17:13] #91 closed

[2020-06-15 18:40] jimk-bdrc opened #101 "4 package(s) running on TBRCRS4 is/are out-of-date. Please sign in to DSM on TBRCRS4 and open Package Center to install the latest version of your package(s)."

[2020-06-15 18:42] TBRC-JimK commented on #100
@TBRC-pmench Please slack me (jim) with the suggested members

[2020-06-15 20:35] TBRC-JimK commented on #100
@TBRC-pmench is "help" too broad? Can we call it "buda-help@bdrc.io?"  (Because we can't make a dedicated bdrc.io group or email - everything is replicated on tbrc.org as well.)

[2020-06-15 20:54] TBRC-pmench commented on #100
The contact form will be for all inquiries to BDRC so I wanted to avoid using "buda" in the email address.

[2020-06-15 21:40] TBRC-Travis opened #102 "NLM web images sync to S3: W1NLM1596 - W1NLM2054"

[2020-06-15 21:40] TBRC-Travis opened #103 "NLM archive sync to RS5: W1NLM1186 - W1NLM1235"
Web images already synced, just moving over the archival content via our AWS cross-bucket replication / synology syncing process.

[2020-06-16 00:24] TBRC-JimK commented on #100
I kind of get that, but that puts the burden on you  or your assistant to
route legacy calls. If you want to commit to that for like ever, then cool.

On Mon, Jun 15, 2020 at 4:54 PM TBRC-pmench <notifications@github.com>
wrote:

[2020-06-16 14:24] TBRC-Travis commented on #99
@eroux are you sure you have the right work number?  I looked in ReadyToProcess/Taiwan/Other-Taiwan-12/W1KG26108 and this is not a straightforward work.  There are many volumes with lots of PDFs all of which are quite large.

[2020-06-16 14:52] eroux commented on #99
it's a Kangyur so about 100 volumes yes. I looked at volume 1 which has cropped images, it's 140MB for 570 images so 250kb / image... I expected all volumes to be similar. Volume 2 is twice as large but I'm not sure it's wort reprocessing the images.

So it still seems quite straightforward to me, I imagine the processing as:
- extracting the jpg from the PDF
- batch rename
- sync

what am I missi

[2020-06-16 14:55] TBRC-Travis commented on #99
You're correct.  Your original comment made it sound like this was just a matter of syncing the files without needing any processing, so I was just making sure I was looking at the right one.

[2020-06-16 15:08] TBRC-Travis commented on #99
@eroux since you marked this as "not urgent" I'm putting this in my queue for next week.  It should be synced by no later then next Friday.  Will keep you posted.

[2020-06-16 15:10] eroux commented on #99
sure, perfect!

[2020-06-16 17:02] TBRC-pmench commented on #100
I currently route everything that comes into inquiry so it shouldn't involve much of a change in terms of workload. I'll just need to check two Google groups rather than one.

[2020-06-16 21:07] TBRC-Travis commented on #103
W1NLM1186 - W1NLM1235 have been synced to RS5 Archive.

I verified completeness by running rsync --dry-run comparisons between the source (NLM) and destination (RS5).

[WebArchive.sync.6.16.20.pdf](https://github.com/buda-base/archive-ops/files/4789093/WebArchive.sync.6.16.20.pdf)

[2020-06-17 14:03] jimk-bdrc commented on #103
Looketh goodeth. But I don't need rsync verifivation - if it lied once, it would lie again. I'll accept your email that it's done.

[2020-06-17 14:03] #103 closed

[2020-06-17 14:44] jimk-bdrc commented on #76
Many of the works Elie cited here hadn't even been uploaded. The ones which were uploaded were sent to v-m-t for dimensions.json creating. Recommend closing.

[2020-06-17 14:47] jimk-bdrc commented on #100
Seems to be up. @TBRC-pmench close if you concur.

[2020-06-17 14:52] eroux commented on #76
that works for me yes, thanks!

[2020-06-17 15:19] #100 closed

[2020-06-17 15:50] jimk-bdrc commented on #70
I'm testing out

[code]

[2020-06-17 18:47] karmagongde opened #104 "To update access policy in IA"
- [x]  W1KG18437
- [x]  W1KG3460
- [x]  W1PD137881
- [x]  W1KG18586
- [x]  W2PD16865
- [x]  W1KG14700 should also be updated

[2020-06-17 18:55] jimk-bdrc commented on #104
@karmagongde  says we can close the issue after we're done. We don't have to make him close it.

[2020-06-17 18:56] karmagongde commented on #104
The following work numbers are changed to Copyright in the BDRC database. Please change them in the Internet Archive.
W1KG18437
W1KG3460
W1PD137881
W1KG18586
W2PD16865

[2020-06-17 18:58] karmagongde commented on #104
The following work numbers are changed to Copyright in the BDRC database. Please change them in the Internet Archive.
- [ ] W1KG18437
- [ ] W1KG3460
- [ ] W1PD137881
- [ ] W1KG18586
- [ ] W2PD16865

[2020-06-17 19:02] jimk-bdrc commented on #104
- [ ]
<img width="890" alt="Screen Shot 2020-06-17 at 15 02 13" src="https://user-images.githubusercontent.com/33470789/84938830-8f66da00-b0ab-11ea-83e2-f4a18268e103.png">

[2020-06-17 19:31] xristy commented on #104
1) whomever closes the issue has the responsibility to verify that the changes at IA have been made as intended and are visible as expected. To ensure that the original task has been completed as intended it is typically appropriate for the original poster to verify that their request has been correctly performed and then close the issue indicating that they have checked and are asserting that all

[2020-06-18 13:24] karmagongde opened #105 "Image not displaying on website"
The images of W00KG04060 is not displaying on the website.

[2020-06-18 13:30] eroux commented on #105
it's an interesting case: the `dimensions.json` file lists a lot of files but there's no file in the s3 folder apart from the `dimensions.json`

[2020-06-18 13:57] TBRC-TimB opened #106 "W1PD96682 IA reupload"
W1PD96682 is a legacy item which is under copyright that users have been asking to access via IA. The work is very large and was originally broken up into separate zip files to send to IA. This gums up the derive process.

We need to clear out the old version of the work, and reupload a clean version.

[2020-06-18 14:09] eroux commented on #104
- [ ] W1KG14700 should also be updated

[2020-06-18 14:45] jimk-bdrc opened #107 "More disk space on sattva"
Debian has a logical volume manager which is like Synology's but without the fancy UI. Learn to use it and expand the /dev/mapper/sattva--vg-home pool

[2020-06-18 14:47] jimk-bdrc commented on #104
I moved this to the original description

[2020-06-18 14:51] TBRC-Travis commented on #105
Weird.  Images exist in the archive but not on S3.  A simple sync will do the trick.

[2020-06-18 14:53] jimk-bdrc commented on #104
@xristy, in [AO task request announcement](https://docs.google.com/document/d/1b8qiq2eB5jEDJDtH1_TvQUL-Vga5OZNcGbc7wofKHWM/edit?usp=sharing)
we specifically call out what you said wrto ending a task. Here's the relevant text
**End**
-  When AO has handled the request, they will assign it back to the requestor.
-  AO will not close requests that others originate. The requestor has to sign off on th

[2020-06-18 14:53] TBRC-Travis commented on #105
@jimk-bdrc if want to tag team this I could walk you through fixing this.  or if you'd prefer not to bother with it I'm happy to do it.

[2020-06-18 16:09] karmagongde commented on #104
W1KG14700 is just updated to the original description.

[2020-06-18 18:11] TBRC-TimB commented on #104
After working with Hank today to get these updated. It seems that in the future the best way to update an item's status in IA is to reupload them and overwrite the original *_bdrc.zip file. Once we derive it again this will automatically move it to the right collection and get it set up for copyright access.
A few of the works listed had some errors that audittool caught. We'll get them fixed up t

[2020-06-18 18:14] #76 closed

[2020-06-18 18:16] jimk-bdrc commented on #105
I’ll take it, and we can tag team Monday

[2020-06-18 18:20] jimk-bdrc commented on #104
Do we get that for free when we re-upload it? (the deletion of the
bdrc-***_bdrc.zip file)

On Thu, Jun 18, 2020 at 2:11 PM TBRC-TimB <notifications@github.com> wrote:

--
Jim Katz
Archival Operations Manager
Buddhist Digital Resource Center
1430 Massachusetts Ave FL 5
Cambridge, MA 02138
Visit BDRC Web Library <https://www.tbrc.org> | Donate to BDRC
<https://donate.tbrc.org>
jimk@tbrc.org

[2020-06-18 18:25] TBRC-TimB commented on #104
no, we just need to run the doia.sh with the force flag, and it will write over the existing bdrc-***_bdrc.zip. We may run into some works which need a bit more work on our end to reupload, like making sure they pass audittool. Other than that, reuploading is a fairly easy solution.

[2020-06-18 18:48] TBRC-Travis commented on #105
sounds good.  it will take a wee bit of processing since this is a legacy work and several images don't conform to our existing filesize restriction.  happy to tackle this together on Monday.

[2020-06-18 21:01] TBRC-Travis opened #108 "Generate cataloging records for W1NLM1751 - W1NLM2225"
The next round of NLM web images are being synced so we'll need to create the next batch of NLM catalog records accordingly, up through W1NLM2225.

I've created a "batch6" tab in the Normalized Accessions spreadsheet.  (will email link)

New batch will be from W1NLM1751 - W1NLM2225.

I've already had Karma review the titles so we should be all set to run the import on this.

[2020-06-19 15:47] xristy commented on #108
@karmagongde and @TBRC-Travis In reviewing the batch 6 data, I see that column G, `Print Type`, has two distinct values, `dbu can` and `Block print` - which mean the same thing and hence are almost certainly incorrect.

I went back and looked at batches 3, 4, and 5 and see that the values that appear are, `Block print` and `dbu med manuscript`.

Batch 6 column G needs to be reviewed before proceed

[2020-06-19 16:01] TBRC-Travis commented on #108
@karmagongde can you take a look this?  if you need to make edits please modify the values in "BDRC-ACIP-Catalog-SingleVolumeWorks" not in the batch6 worksheet.  thank you!

[2020-06-19 16:31] TBRC-Travis commented on #108
@xristy seems like batch6 worksheet is good as is.  please go ahead.

[2020-06-19 17:30] xristy commented on #108
Two things:

1) @karmagongde when do we use _printType_ `blockprint` versus `dbuCan`?

2) Unfortunately, I just found an error in the NLM importer. The `/db/modules/gwt/works-nlm-import.xqm` checked only for exact values of `Block Print` and `manuscript` which were the values used in the early part of batch 1.

    Since later in batch 1 and on through 2-5, the values have been `Block Print` and `

[2020-06-19 18:01] karmagongde commented on #108
Please make Column G, Print Type, dbu can, and Block print. All the manuscripts texts in NLM are dbu can script. we did not see any dbu med manuscripts. During the full cataloging of these work numbers, the librarian checks all the catalog information and modify accordingly.

[2020-06-19 18:10] xristy commented on #108
@karmagongde when do we use printType blockprint versus dbuCan?

[2020-06-19 18:12] karmagongde commented on #108
@xristy The _printType_ blockprint is using for all the woodblocks printed texts.
The _printType_ dbu can is using for all the handwritten dbu can manuscript texts.
The _printType_ dbu med is using for all the dbu med and cursive manuscript texts. So far the librarians did not found and dbu med texts in the NLM collection.

[2020-06-19 18:21] xristy commented on #108
@karmagongde so you are you saying that when column G in a batch sheet contains `dbu med manuscript` or just `manuscript` that it is actually _printType_ `dbuCan` - I'll add a note to that effect in the script.

And so the records that were imported without a _printType_ (which were ones for which the importer incorrectly ignored `dbu med manuscript`) should have _printType_ `dbuCan` added to the

[2020-06-19 18:46] karmagongde commented on #108
Exactly, the column G in a batch spreadsheet dbu me manuscript are printType dbuCan.

The earlier batches 1-4 are already added _printType dbuCan_ by librarians when we did the full cataloging. Now we are full cataloging batch 5 any many work numbers are checked out on DLMS. So we will add _printType dbuCan_ for all the missing one.

Form the batch no. 6 the import of _printType dbuCan_ will be gr

[2020-06-19 18:59] xristy commented on #108
Ok so I have corrected the import so that it properly detects variants of "dbu can", "dbu med", "manuscript" and assigns _printType_ `dbuCan` in all of those cases:
[code]

If in the future some actual "dbu med" are discovered please open an issue to alert that there needs to be attention to treating Column G differently on import.

Further, I will not do anything with the earlier records that hav

[2020-06-19 19:07] karmagongde commented on #108
Sure, I will inform and alert if there is any actual _dbu med printType_.
 Thank you.

[2020-06-19 19:57] xristy commented on #108
@karmagongde In the following entries Column B, "No. of Volumes", is empty which is not currently allowed in the import script:
[code]
What should I do?

It would be good if another pair of eyes took a look at: [test run](https://www.tbrc.org/docs/nlm/summary-BDRC-NLM-records-batch_06-20200619-2020-06-19T19:36:39.258Z.txt) to see if there are other problems.

[2020-06-19 20:52] karmagongde commented on #108
@xristy I just added 1 on Column D "Vol." in the main spreadsheet for those missing and checked back and forth on the whole work number of this set. Now looks complete.

[2020-06-19 21:28] xristy commented on #108
I made the updates to be 1 volume for each of 6 works listed above and have run the import. [View the import log](https://www.tbrc.org/docs/nlm/summary-BDRC-NLM-records-batch_06-20200619-2020-06-19T21:23:53.36Z.txt).

[2020-06-19 21:34] karmagongde commented on #108
It is perfect, now it imported the _printType_ "dbuCan"
Thank you Chris.

[2020-06-19 21:35] TBRC-Travis commented on #108
I see the records on the website now.  Thanks Chris.

[2020-06-22 14:30] TBRC-Travis commented on #102
Cataloging records have been created via #108

Web images are synced and available on tbrc.org

Waiting for dev team to complete work on bdrc.io before I send out the notification to librarians

[2020-06-22 17:47] jimk-bdrc commented on #107
See the procedures in [Trello LVM Debian](https://trello.com/c/V1vZrAi9)

Disk size of the /home partition is now 3Tb.

[2020-06-22 17:56] jimk-bdrc commented on #107
Duplicate for sattva

[2020-06-22 18:12] jimk-bdrc commented on #107
[code]

[2020-06-22 18:12] #107 closed

[2020-06-22 18:29] jimk-bdrc commented on #105
Assigning Karma to verify that W00KG04060 displays on the tbrc.org website. It should display also on the bdrc.io viewer as well.

[2020-06-22 19:11] karmagongde commented on #105
Displaying perfect on the website. Thanks.

[2020-06-22 20:29] TBRC-Travis commented on #102
Email sent out with library.bdrc.io links

@karmagongde please have a look and let me know if you see any issues

[2020-06-22 20:48] jimk-bdrc commented on #70
The temp files created by a run are:
[code]

[2020-06-22 21:56] #105 closed

[2020-06-22 22:06] karmagongde commented on #102
@TBRC-Travis I have randomly checked and everyone looks good. In case during the full cataloging, if we find any issue I will let you know. Thank you.

[2020-06-22 22:10] TBRC-Travis commented on #102
Sounds good @karmagongde.  Thank you.

[2020-06-22 22:10] #102 closed

[2020-06-24 14:08] #104 closed

[2020-06-24 16:43] karmagongde opened #111 "Access policy update in IA"
Here is the spreadsheet listed all the recently changed of the access policy "**Restricted in China**" on the BDRC website. Please update them on the Internet Archive website. Some of the work numbers might not in the IA website because images are not yet synced. 

https://docs.google.com/spreadsheets/d/1jkBxQb_Y4xHv5ty1-njIQUi0U0qq-kGokjtorvtDNEI/edit#gid=6125919

Best,
Karma

[2020-06-24 18:50] TBRC-pmench opened #112 "Workstation and tech setup for incoming new employee"
I can discuss on a call if desired.

[2020-06-24 19:26] TBRC-Travis commented on #112
@TBRC-pmench, can you be a little more specific about what the needs of the incoming new employee are?  Is this a generic request for documentation or specific to a particular hire?

[2020-06-24 21:30] TBRC-pmench commented on #112
Specific to a particular hire (we can chat offline about specific requirements). A computer similar to mine should suffice.

[2020-06-24 22:55] TBRC-pmench commented on #112
Sorry, oversight: I should add a deadline here of July 15.

[2020-06-25 14:04] jimk-bdrc commented on #112
I've got a laptop they can use

[2020-06-25 14:28] TBRC-TimB commented on #96
Recropping complete. Planning on working to pass the HDD to @TBRC-Travis

[2020-06-25 17:27] TBRC-TimB opened #113 "Image Cropping"
Image cropping. Below is the list of the works I have queued up on my machine. I will be building issues for cropping in chunks.
[] W3CN1572
[] W3CN1575
[] W3CN1582
[] W3CN1625
[] W3CN1673
[] W3CN1682
[] W3CN1685
[] W3CN1714
[] W3CN691
[] W3CN697
[] W3CN704
[] W3JT13534
[] W3JT13535
[] W8LS30619
[] W8LS30988
[] W8LS30997
[] W8LS66550

[2020-06-25 17:29] TBRC-TimB commented on #113
linked here is the spreadsheet I use to track my progress with volumes.
https://docs.google.com/spreadsheets/d/1Z88k6PvHci8vgSo5-RocWlwHQyMTzX3yf42YcBGnLn4/edit?pli=1#gid=622174047

[2020-06-25 17:40] TBRC-TimB commented on #111
this was the well thought out response from Hank when I asked him about the existing mechanism in IA to filter for restricted in China items.

if the derive finds `restrictedInChina` at /`/work:archiveInfo/@access` in the `meta/{id}.xml file`, it sets the collections to `buddhist-digital-resource-center`, `geo_restricted` (also adding `buddhist-digital-resource-center-restricted` if it finds copyr

[2020-06-25 19:31] jimk-bdrc commented on #98
When I updated this, I could not access RS3 from quick connect unless I was in the VPN. I could access RS5 both in VPN and out VPN. It took some troubleshooting (Synology has a great FAQ on it.) before settling on changing **Control Panel --> Regional Settings --> Time server** to use the same one as RS5 (`time.google.com`)

[2020-06-25 19:31] #98 closed

[2020-06-25 19:39] jimk-bdrc opened #114 "Update dashboard"
There is some misleading statistics in [Images Inventory Datastudio](https://datastudio.google.com/u/0/reporting/1iXWwpE9ySe6l6nX1n5R8Ayo5ZnAwe8wq/page/o2hx)

For example "Largest BDRC Image counts By Project" doesn't seem to reflect the current data. (e.g. the Mangaram count for ReadyToProcess doesn't seem to be going down, and the DDD project should be 0.

[2020-06-25 19:44] #70 closed

[2020-06-25 19:52] #96 closed

[2020-06-25 20:07] TBRC-Travis opened #115 "Process and sync W1KG28261"
Received hard drive from @TBRC-TimB.  I imagine this will take at least a week or two to process and sync.

[2020-06-26 14:57] TBRC-Travis commented on #99
Hi @eroux, I finished processing this work yesterday but ran into some issues with audit tool when trying to sync it last night.  It uncovered some really funky problems with the ImageAttributeTest in audit tool that @jimk-bdrc will need to look at.  Jim and I will tackle this when he gets back from vacation next week.  New ETA for this is next Wednesday.  Hope that's okay.

[2020-06-26 14:59] eroux commented on #99
sure, thanks for the update!

[2020-07-01 23:30] TBRC-Travis commented on #99
@eroux this is now synced and online:  https://www.tbrc.org/#!rid=W1KG26108

Post-processing is still underway so I imagine you'll see this up on library.bdrc.io by tomorrow.

[2020-07-02 06:45] eroux commented on #99
thanks!

[2020-07-02 06:45] #99 closed

[2020-07-02 11:35] jimk-bdrc commented on #101
Done 29 June 2020

[2020-07-02 11:35] #101 closed

[2020-07-02 13:34] TBRC-TimB commented on #113
Added works to my Queue

- [ ] W1KG14576
- [ ] W1KG24469
- [ ] W1KG89105
- [ ] W1KG89133
- [ ] W1KG89134
- [ ] W1KG89135
- [ ] W1KG89147
- [ ] W2KG210295
- [ ] W3CN14259
- [ ] W3CN14262
- [ ] W3JT13553
- [ ] W3JT13608
- [ ] W3JT13626
- [ ] W3JT13750
- [ ] W3JT13752
- [ ] W4CZ354997
- [ ] W4CZ45309
- [ ] W8LS30988
- [ ] W8LS30997

[2020-07-02 14:37] TBRC-TimB opened #116 "Use SNS to notify when ia-upload has failed"

[2020-07-02 15:44] TBRC-TimB commented on #111
A few solution notes.

The list of works to update in IA is very large. We are thinking about building the archival zips and not uploading them, but loading them on a harddrive. We would then mail that harddrive to IA, and they would upload and derive the new data.

Even before doing that we should be sure to get the original list as short as possible, to make sure we have enough room for everythi

[2020-07-02 15:45] TBRC-TimB commented on #113
Finished works.
- [x] W3CN1572
- [x] W3CN1575
- [x] W3CN1582
- [x] W3CN1625
- [x] W3CN1673
- [x] W3CN1682
- [x] W3CN1685
- [x] W3CN1714
- [x] W3CN691
- [x] W3CN697
- [x] W3CN704
- [x] W3JT13534
- [x] W3JT13535
- [x] W8LS30619
- [x] W8LS30988
- [x] W8LS30997
- [x] W8LS66550

[2020-07-06 14:19] TBRC-TimB commented on #106
After 8 days of deriving. This is done and looks great. Currently it is listed as noindex, but is still something that can be checked out for a loan. @TBRC-Travis Do we want this to be indexed? or only accessible via direct link?
Here is the link if you want to see.
https://archive.org/details/bdrc-W1PD96682

[2020-07-06 21:49] jimk-bdrc commented on #112
Laptop ordered from apple 27June2020

[2020-07-07 14:28] TBRC-Travis commented on #106
Looks good.  Thanks Tim!

[2020-07-07 14:35] TBRC-Travis opened #117 "Indus scanner testing"

[2020-07-07 14:50] #106 closed

[2020-07-09 14:35] TBRC-Travis opened #118 "Create HD of web images to send to Zhejiang for mirror site"

[2020-07-09 15:20] jimk-bdrc commented on #118
Hi, I'll get the cost and work with @Dechen1  on the funding.

[2020-07-09 15:53] Dechen1 commented on #118
Thanks Travis for opening an issue. I think we should choose a HD that "will be especially good at withstanding all the shocks and temperature changes involved in the journey to Hangzhou" -quote Jann

[2020-07-09 17:52] xristy commented on #118
Here's a spreadsheet as of 20200709 of the Works in the database with their on-disk status and restrictions and so on.

[TBRC_WORKS_DETAILS-20200709.xlsx](https://github.com/buda-base/archive-ops/files/4898565/TBRC_WORKS_DETAILS-20200709.xlsx)

This should be useful in selecting what is wanted. Once a list is obtained, ther4e is presumably some AO tool for computing the expected size of the disk n

[2020-07-10 13:57] JannTibetan opened #119 "User requests archival images of 2 pages to use in a publication"
A longtime user is writing an article about a couple of our medical texts and would like access to the archival images of two pages to use as illustrations in the publication. He needs:
W2PD17503: vol. 6, p. 1a
W4CZ20873: p. 2a

Please send the files to me and I'll pass them on to him. Thanks!

He attached the two images for reference:
![mcgrath-vase of ambrosia-W2PD17503-vol6-1a](https://user-ima

[2020-07-10 15:21] jimk-bdrc commented on #118
[code]

[2020-07-10 18:14] jimk-bdrc commented on #118
@Dechen1 advises: Additional hard drive space cost: 1TB=6000CYN per year (about $857 per year), It is expensive, but we can afford another 3-5TB if needed
We have 5TB space right now.

[2020-07-10 23:29] jimk-bdrc commented on #118
Noted that many works which have 'ondisk = true' aren't on our archive. They may be in  S3.

[2020-07-10 23:36] TBRC-Travis commented on #118
Good point.  Most notably for NLM and FPL web images not yet transferred to RS5.

[2020-07-10 23:39] jimk-bdrc commented on #118
And conversely, released works (e.g. W2DB25466) have disk = false, but are in S3 and on RS5.

[2020-07-11 00:04] jimk-bdrc commented on #118
I used a variant of the above parallel command to create a list of image dir sizes, `RS3:/homes/home/jimk/prod/archive-ops-87/pass1/sizeStatusReleased` I summed that up  `cat pass1/sizeStatusReleased | awk -FM '{sum += $1} END { print( sum,  sum / 1024 / 1024 )}` to get the raw MB and TB count.

After all that: it's at most 3.39 TB

[2020-07-11 01:18] xristy commented on #118
The `onDisk` column in the spreadsheet is determined as follows:
[code]
which is set from the _Works synced to WebArchive_ script. Note: for each work, only the first imagegroup (called `volume` in the script) will be tested so there could be works where it is `not ondisk`, but other imagegroups are on disk. So some works may actually have some content on disk but  be reported as having none. I wo

[2020-07-11 01:29] xristy commented on #118
For cases such as `W2DB25466`, I think @TBRC-Travis uses a script where the `ondisk` info needs to be updated .

I will modify the script for the spreadsheet so that it checks imagegroups until it finds one that is  `ondisk` and reports _true_ otherwise _false_.

[2020-07-14 14:27] jimk-bdrc opened #120 "Track incremental sends"
Extend the tracking mechanism of DRS to include mappings of where every volume has been sent.

[2020-07-14 14:30] jimk-bdrc commented on #120
SQL has a CSV import. Create a standard CSV format, and just import that into a new table at first. Then expand that new table with details like FKs etc.

[2020-07-14 16:53] jimk-bdrc commented on #118
Include SEA, per Élie

Élie Roux via gmail.com | Élie Roux via gmail.com | 12:51 PM (0 minutes ago) |   |  
-- | -- | -- | -- | --
Élie Roux via gmail.com
to me, Dechen, Jann, Travis | to me, Dechen, Jann, Travis
to me, Dechen, Jann, Travis

Merci, Élie:

Those  will be included by default. If you want to exclude them, no problem, but someone has to make the decision.

Jim

On Tue, Jul 14, 2020 at

[2020-07-14 17:02] Dechen1 commented on #118
Conversation about AWS S3 and NAS from Guli:
—————  2020-7-11  —————

古迦陵 6:53 AM
Hi Elie, I have made some study on Synology NAS product, Amazon EC2 and Amazon EFS(Amazon Elastic File System).

For Synology NAS, maybe it is not so convenient to directly mount it to the VM cause the VM is only accessible via VPN from home. So I think it should be possible to mount it to my computer(mac os system)

[2020-07-14 17:05] Dechen1 commented on #118
[nas_aws_solution.pptx](https://github.com/buda-base/archive-ops/files/4920188/nas_aws_solution.pptx)

[2020-07-14 17:07] TBRC-Travis commented on #118
@jimk-bdrc one thing I remembered here is that the filesystem in which you're calculating the file size matters.  for example, your size estimate of ~3.39 TB is based on the blocksize of the btrfs filesystem (I believe), but if the files are transferred to a FAT filesystem with a different blocksize, the resulting filesize usage will be different.  just something to keep in mind as this has bitten

[2020-07-14 18:36] jimk-bdrc commented on #118
We could get around this by zipping, but that's a good caution.

[2020-07-14 19:48] eroux commented on #118
@Dechen1 this is a public place and you've just given the password to a server Guli own and will pay the use of... that's really not good for him... can you ask him to change the password?

[2020-07-14 20:15] Dechen1 commented on #118
Oh, I see. This is something I have been concerned about. All the posts on Buda-base are public? I thought we have internal posts if someone creates an issue.

[2020-07-14 20:15] Dechen1 commented on #118
Oh, I see. This is something I have been concerned about. All the posts on
Buda-base are public? I thought we have internal posts if someone creates
an issue.

Dechen Pema | Director of Administration
ནང་བསྟན་དཔེ་ཚོགས་ལྟེ་གནས། Buddhist Digital Resource Center 佛教数字资源中心
1430 Massachusetts Ave 5th Floor Cambridge, MA 02138
Tel: 617-354-7900 | tbrc.org | donate.tbrc.org

On Tue, Jul 14, 2020 at 3:48 P

[2020-07-14 20:16] Dechen1 commented on #118
I just delete the post.

[2020-07-14 20:21] xristy commented on #118
Please ask Guli to change the password. We do not know who may have seen the post prior to deletion. Security first please.

[2020-07-15 18:25] karmagongde opened #121 "Generate candidate Work numbers for CTC 17"
@TBRC-Travis Please pull the list of Work numbers for CTC 17 which are open access. Exclusive of CTC 1-16 work numbers.

Since we are distributing CTC 17 in the USA, Work numbers with both the Open Access and Restricted in China are okay to include in the list. Your creation of the CTC 15&16 list was very helpful and create the same.

Whenever ready from your end this week or early next week will

[2020-07-15 18:37] karmagongde opened #122 "Images issue"
@TBRC-TimB Hi Tim,
The following Work numbers has images arranging issue during cropping. The front pages of the folios are together and the back page of the folios are together.

- [ ] W8LS31183
- [ ] W8LS31174
- [ ] W8LS31182
- [ ] W8LS31192
- [ ] W8LS31204